* {
    margin: 0;
}

body {
    overflow: hidden;
}





#pokeballDiv {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 5;
}

#pokeballDiv.shrink {
    transform: scale3d(0,0,0)
}


#pokeballImage{
    margin: auto auto auto auto;
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: center;
    top: 0;
    bottom: 0;
    right: -120%;
    left: 0;
    transition: all 3s ease-out;
    z-index: 6;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#pokeballImage:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#pokeballImage.disabled {
    pointer-events: none;
}


#pokeballImage.ballAnimationIn {
    transform:rotate(-2turn);
    right: 0;
}

#pokeballImage.ballAnimationOut {
    transform:rotate(0.5turn);
    right: -120%;
}







#pokemonSearchDiv {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: aqua;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    overflow: hidden;
}

#pokemonSearchInput {
    position: absolute;
    top: 75px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 50px;
}




#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mainPokemonContentsDiv {
    width: 100%;
    display:flex;
    height: 750px;
    margin: 0;
    background-color: antiquewhite;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.errorLabel {
    text-align: center;
    width: auto;
    font-size: 20px;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:grey;
    height: auto;
}
